body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body::-webkit-scrollbar {
  display: none !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #004c3d !important;
}

/* App.css */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.section {
  margin: 20px;
}

.company-cards {
  display: flex;
  flex-wrap: wrap;
}

.comparison-cards {
  display: flex;
  flex-wrap: wrap;
}

.company-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
}

.comparison-card {
  display: flex;
  align-items: center;
  margin: 10px;
}

.comparison-card .vs {
  margin: 0 10px;
}
